.todos-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
  
  @media (max-width: 480px) {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}
