.filters {
  display: flex;
  flex-direction: column;
  width: 349px;
  height: 150px;
  gap: 5px;
}
.filters-header {
  font-size: 20px;
}

.filter-select {
  cursor: pointer;
  width: 100%;
  padding: 6px 6px 6px 6px;
  border: none;
  outline: 1px solid black;
  border-radius: 4px;
}

.filters-container {
  height: 30px;
}

.filter-picker {
  padding: 6px 31px 6px 134px;
  cursor: pointer;
  border: none;
  outline: 1px solid black;
}

.filter-input {
  cursor: pointer;
  width: 100%;
  padding: 6px 6px 6px 6px;
  border: none;
  outline: 1px solid black;
}

.filters-button-group {
  display: flex;
  gap: 10px;
}

.filters-button {
  flex-grow: 1;
  padding: 8px 12px;
  font-size: 0.9em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
